[submodule "src/3rdparty/deskvox"]
	path = src/3rdparty/deskvox
	url = https://github.com/deskvox/deskvox
[submodule "share/covise/web/noVNC"]
	path = share/covise/web/noVNC
	url = https://github.com/kanaka/noVNC
[submodule "src/3rdparty/visionaray"]
	path = src/3rdparty/visionaray
	url = https://github.com/szellmann/visionaray
[submodule "src/OpenCOVER/plugins/gpl/NvTop/nvtop"]
	path = src/OpenCOVER/plugins/gpl/NvTop/nvtop
	url = https://github.com/hlrs-vis/nvtop.git
[submodule "src/module/univiz"]
	path = src/module/univiz
	url = https://github.com/vistle/univiz.git
[submodule "src/kernel/file"]
	path = src/kernel/file
	url = https://github.com/hlrs-vis/covise-file.git
[submodule "src/3rdparty/covconfig"]
	path = src/kernel/config/covconfig
	url = https://github.com/vistle/covconfig.git
[submodule "src/OpenCOVER/OpenCovConfig"]
	path = src/OpenCOVER/OpenConfig/covconfig
	url = https://github.com/vistle/covconfig.git
[submodule "src/3rdparty/exprtk"]
	path = src/3rdparty/exprtk
	url = https://github.com/ArashPartow/exprtk.git
