[submodule "src/3rdparty/deskvox"]
	path = src/3rdparty/deskvox
	url = https://github.com/deskvox/deskvox
[submodule "share/covise/web/noVNC"]
	path = share/covise/web/noVNC
	url = https://github.com/kanaka/noVNC
[submodule "src/3rdparty/visionaray"]
	path = src/3rdparty/visionaray
	url = https://github.com/szellmann/visionaray
[submodule "src/OpenCOVER/plugins/gpl/NvTop/nvtop"]
	path = src/OpenCOVER/plugins/gpl/NvTop/nvtop
	url = git://github.com/Syllo/nvtop.git
