/******************* Hintergrund *******************/
/*
QWidget{
	background-color: transparent;
}
*/


QMainWindow{
/*
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(37, 37, 37, 255), stop:0.143143 rgba(61, 61, 61, 255), stop:0.706785 rgba(98, 98, 98, 255), stop:0.825525 rgba(68, 68, 68, 255), stop:0.874798 rgba(45, 45, 45, 255), stop:0.912763 rgba(0, 0, 0, 255), stop:0.971729 rgba(45, 45, 45, 255), stop:1 rgba(68, 68, 68, 255));
*/
background-color: #444444;
}

QFrame{
/*
background-color: qlineargradient(spread:reflect, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(78, 78, 78, 255), stop:0.638935 rgba(106, 106, 106, 255), stop:1 rgba(78, 78, 78, 255));
*/
border:0px;
background-color:rgba(60, 60, 60, 255);
}
/*
QFrame *{
	background-color:transparent;
	border: 0px; 	
} 
*/
QFrame::handle{
	background-color: #888888;
	border-radius: 1px;
}

QFrame QLabel{
	color: #ffffff;
	border: 0px;
}

QFrame QAbstractButton{
	color: #ffffff;	
}


/******************* Fenster, in dem Renderer ist, etc ************/
QStackedWidget{
	
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(214, 214, 214, 255), stop:1 rgba(255, 255, 255, 255));
	color: #333333;
	border: 1px solid #aaaaaa;
	border-radius: 6px;
}

/******************** DockWidget*********************************/
QDockWidget{
	color: #ffffff;
	font-weight: bold;
	background-color: #000000;
}

/*
QDockWidget::handle{
	background-color: red;
}
*/

QDockWidget::title{
background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(208, 208, 208, 255), stop:0.47646 rgba(113, 113, 113, 255), stop:0.478343 rgba(59, 59, 59, 255), stop:1 rgba(59, 59, 59, 255));
padding-left: 5px;
	padding-top: 3px;
}	

QDockWidget::float-button{
	background-color: transparent;
}
QDockWidget::close-button{
	background-color: transparent;
}


/**************************** Dialog ************************/	
QDialog{
	background-color: qradialgradient(spread:reflect, cx:0.505182, cy:0, radius:1.793, fx:0.511682, fy:0, stop:0 rgba(131, 131, 131, 255), stop:0.304878 rgba(77, 77, 77, 255), stop:0.308562 rgba(69, 69, 69, 255), stop:1 rgba(47, 47, 47, 255));
	color: #ffffff;	
}

QDialog QAbstractButton{
	color: #ffffff;	
}

QDialog QFrame{
    border: 0px;
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(61, 61, 61, 255), stop:0.716802 rgba(98, 98, 98, 255), stop:0.942402 rgba(68, 68, 68, 255), stop:0.966912 rgba(45, 45, 45, 255), stop:1 rgba(0, 0, 0, 255));
}


QDialog QLineEdit{
	background-color: #ffffff;
}

QDialog QLabel{
	color: #ffffff;
    background-color: transparent;
}

QDialog QTextEdit{
	background-color: #ffffff;
}

/******************* Labels ************************/
QLabel{
	background: transparent;
	color: #333333;
}

/******************* Textfeld **********************/
QLineEdit{
	background: rgba(255,255,255,100);
	border: 1px solid #cccccc;
}

/******************* AbstractButton ****************/
QAbstractButton{
	background: transparent;
	color: #ffffff;
}

/****************** Buttons ************************/
 QPushButton {
	height: 20px;
	border:1px solid #444444;
    border-radius: 10px;
	background-color: qradialgradient(spread:reflect, cx:0.505182, cy:0, radius:1.793, fx:0.511682, fy:0, stop:0 rgba(181, 181, 181, 255), stop:0.304878 rgba(99, 99, 99, 255), stop:0.308562 rgba(69, 69, 69, 255), stop:1 rgba(0, 0, 0, 255));
	padding: 2px;
	color: #ffffff;
 }

 QPushButton:hover {
background-color: qradialgradient(spread:reflect, cx:0.505182, cy:0, radius:1.793, fx:0.511682, fy:0, stop:0 rgba(210, 202, 166, 255), stop:0.305331 rgba(193, 183, 133, 255), stop:0.308562 rgba(147, 137, 86, 255), stop:1 rgba(142, 131, 74, 255));
  color: #ffffff;
  border: 1px solid rgba(168, 156, 94, 255);
 }

 QPushButton:pressed {
	margin: 2px;
background-color: qradialgradient(spread:reflect, cx:0.505182, cy:0, radius:1.793, fx:0.511682, fy:0, stop:0 rgba(255, 251, 231, 255), stop:0.305331 rgba(214, 204, 157, 255), stop:0.308562 rgba(193, 181, 118, 255));
 }

 QPushButton:disabled{
	background-color: qradialgradient(spread:reflect, cx:0.496, cy:0, radius:1.542, fx:0.496, fy:0, stop:0 rgba(255, 255, 255, 100), stop:0.355045 rgba(237, 237, 237, 100), stop:0.357955 rgba(213, 213, 213, 100), stop:1 rgba(255, 255, 255, 100));
	color: #aaaaaa;
	border: 1px solid rgba(200,200,200,100);
 }

/******************* Tabs *********************/
QTabWidget::pane { 
	border: transparent;
	background-color: rgba(60,60,60,255);
    color: #ffffff;
 }

QTabWidget QWidget{ 
	background-color: transparent;
    border: transparent;
 }


 QTabWidget::tab-bar {
     left: 5px;
 }
 
 QTabBar{
	background: transparent;
 }
 
 QTabBar::tab {
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(128, 128, 128, 255), stop:0.478343 rgba(59, 59, 59, 255), stop:0.482955 rgba(39, 39, 39, 255), stop:1 rgba(82, 82, 82, 255));
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     min-width: 8ex;
	 padding:3px;
	 margin-right: 1px;
	 color: #ffffff;
    border: 1px solid #777777;
 }


 QTabBar::tab:hover {
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(164, 164, 164, 255), stop:0.478343 rgba(59, 59, 59, 255), stop:0.482955 rgba(53, 53, 53, 255), stop:1 rgba(105, 105, 105, 255));
 }


 QTabBar::tab:selected {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(168, 156, 94, 255), stop:0.504092 rgba(168, 156, 94, 255), stop:0.505728 rgba(221, 212, 163, 255), stop:1 rgba(236, 231, 202, 255));
color: #000000;
 }

 QTabBar::tab:!selected {
     margin-top: 3px; 
 }
 
 QTabWidget QAbstractButton{
	 color: #ffffff;
 }
 
  QTabWidget QLabel{
	 color: #ffffff;
 }
 
    QTabWidget QLineEdit{
	 background-color: #ffffff;
 }
 
 
  QTabWidget QPushButton{
	color: #ffffff;
	font-size: 8px;
 }

  QTabWidget QGroupBox::title{
	color: #ffffff;
 }

  QTabWidget QGroupBox{
	background-color: qlineargradient(spread:reflect, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(78, 78, 78, 255), stop:0.638935 rgba(106, 106, 106, 255), stop:1 rgba(78, 78, 78, 255));
;
 }

  QTabWidget  QPushButton {
	height: 20px;
	border:1px solid #444444;
    border-radius: 10px;
	background-color: qradialgradient(spread:reflect, cx:0.505182, cy:0, radius:1.793, fx:0.511682, fy:0, stop:0 rgba(181, 181, 181, 255), stop:0.304878 rgba(99, 99, 99, 255), stop:0.308562 rgba(69, 69, 69, 255), stop:1 rgba(0, 0, 0, 255));
	padding: 2px;
	color: #ffffff;
 }
 
/******************* GroupBox 1 *******************/
QGroupBox{		
background-color: qlineargradient(spread:reflect, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(78, 78, 78, 255), stop:0.638935 rgba(106, 106, 106, 255), stop:1 rgba(78, 78, 78, 255));
	border-radius: 4px;
	padding: 4px;
	margin: 3px;
	padding-top: 20px;
	color: #333333;
font-weight: bold;
}

QGroupBox::title {
	padding: 2px;
	margin-left: 10px;
	color: #333333;
   background-color: transparent;
 }



/******************* GroupBox  2 ******************/
QGroupBox QGroupBox{
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:1 rgba(255, 255, 255, 200));
	color: #ffffff;
	padding: 10px;
	border-radius: 4px;
border: 1px solid #cccccc;
}

QGroupBox QGroupBox QLabel{
	color: #333333;
}


/******************** Toolbar ********************/
QToolBar::separator{
	width: 2px;
	background-color: transparent;
	margin: 0px 3px 0px 3px;
}

QToolBar:handle{
	width: 3px;
	height: 20px;
background-color: qlineargradient(spread:reflect, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(180, 180, 180, 255), stop:0.638935 rgba(200, 200, 200, 255), stop:1 rgba(120, 120, 120, 255));
	margin-right: 6px;
}

QToolBar{
	spacing: 5px;
	padding: 5px;
	border:0px;
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(100, 100, 100, 255), stop:0.716802 rgba(140,140,140, 255), stop:0.942402 rgba(110, 110, 110, 255), stop:0.966912 rgba(85,85,85, 255), stop:1 rgba(40, 40, 40, 255));
	}


/******************** Toolbar-Buttons **************/
QToolButton{
	width: 23px;
	height: 23px; 
    border-radius: 5px;
	padding:2px;
background-color: qradialgradient(spread:reflect, cx:0.505182, cy:0, radius:1.793, fx:0.511682, fy:0, stop:0 rgba(210,210,210, 255), stop:0.304878 rgba(160, 160, 160, 255), stop:0.308562 rgba(130, 130, 130, 255), stop:1 rgba(135, 135, 135, 255));
	border:1px solid #999999;
}


QToolButton:disabled{
background-color: qradialgradient(spread:reflect, cx:0.505182, cy:0, radius:1.793, fx:0.511682, fy:0, stop:0 rgba(210,210,210, 100), stop:0.304878 rgba(160, 160, 160,100), stop:0.308562 rgba(130, 130, 130, 100), stop:1 rgba(135, 135, 135,100));
}


QToolButton::hover{
	margin: 1px;
background-color: qradialgradient(spread:reflect, cx:0.505182, cy:0, radius:1.793, fx:0.511682, fy:0, stop:0 rgba(210, 202, 166, 255), stop:0.305331 rgba(193, 183, 133, 255), stop:0.308562 rgba(147, 137, 86, 255), stop:1 rgba(142, 131, 74, 255));
	 border: 1px solid rgba(168, 156, 94, 255);
	}

QToolButton::pressed{
		margin: 2px;
background-color: qradialgradient(spread:reflect, cx:0.505182, cy:0, radius:1.793, fx:0.511682, fy:0, stop:0 rgba(255, 251, 231, 255), stop:0.305331 rgba(214, 204, 157, 255), stop:0.308562 rgba(193, 181, 118, 255));
}

/******************** Menü Bar ********************/
QMenuBar {
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(250, 250, 250, 255), stop:0.47646 rgba(150, 150, 150, 255), stop:0.478343 rgba(100, 100, 100, 255), stop:1 rgba(100,100, 100, 255));
	color: #ffffff;
 }

 QMenuBar::item {
     spacing: 3px;
     padding: 1px 4px;
     background: transparent;
 }

 QMenuBar::item:selected {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(121, 114, 76, 255), stop:0.504092 rgba(151, 141, 90, 255), stop:0.505728 rgba(192, 182, 128, 255), stop:1 rgba(224, 219, 185, 255));
	color: #000000;
 }

 QMenuBar::item:pressed {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0.504092 rgba(196, 185, 126, 255), stop:0.505728 rgba(234, 225, 177, 255), stop:1 rgba(240, 235, 205, 255));
}

/******************** Menü ********************/
QMenu {
	background-color: rgba(100, 100,100, 255);
     margin: 2px; 
	 color: #ffffff;
 }

 QMenu::item {
     padding: 2px 25px 2px 20px;
 }

 QMenu::item:selected {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(121, 114, 76, 255), stop:0.504092 rgba(151, 141, 90, 255), stop:0.505728 rgba(192, 182, 128, 255), stop:1 rgba(224, 219, 185, 255));
		color: #000000;
 }
 
QMenu::item:pressed {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0.504092 rgba(196, 185, 126, 255), stop:0.505728 rgba(234, 225, 177, 255), stop:1 rgba(240, 235, 205, 255));
}

 QMenu::icon:checked {
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(167, 167, 167, 255), stop:1 rgba(200, 200, 200, 255));
     border: 1px inset #7D7D7D;
     position: absolute;
     top: 1px;
     right: 1px;
     bottom: 1px;
     left: 1px;
 }

 QMenu::separator {
     height: 2px;
     background: #7C7C7C;
     margin-left: 10px;
     margin-right: 5px;
 }
 
 QMenu::item:disabled {
	background-color: rgba(255, 255, 255, 50);
    color: #aaaaaa;
 }


/****************** Infotexte ******************************/
QTextBrowser{
	/*background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(221, 238, 153, 255), stop:1 rgba(168, 183, 122, 255));*/
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(183, 183, 183, 255), stop:1 rgba(255, 255, 255, 255));
	/*color: rgba(84, 96, 47, 255);*/
	color: #222222;
	/*border: 1px solid #ffffff;*/
}

/***************** weitere Elemente ****************/
QAbstractItemView{
	border: 1px solid #cccccc;
}

QDateTimeEdit{
	border: 1px solid #cccccc;
}


QSpinBox{
	background: #ffffff;
	border: 1px solid #cccccc;
}


QSlider{
	 background-color: transparent;
}b 

QSizeGrip{ 
	background: transparent;
}

/*
QCheckbox{
	color: #ffffff;
}
*/

/****************************************  List View*****************************/

QListWidget{
	border:0px;
}

QListView {
	border: 1px solid #cccccc; 
	background: transparent;
	border:0px;
	border: 1px solid #aaaaaa;
 }

 QListView::item {
	color: #ffffff;
	background-color: transparent;
	padding: 10px;
background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(170, 170, 170, 255), stop:0.47646 rgba(105, 105, 105, 255), stop:0.478343 rgba(100,100, 100, 255), stop:1 rgba(100, 100,100, 255));
	}
 
 QListView::item:selected  , QListView::item:selected:active{
	border:0px;
 }
 

 QListView::item:selected {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0.504092 rgba(196, 185, 126, 255), stop:0.505728 rgba(234, 225, 177, 255), stop:1 rgba(240, 235, 205, 255));
	color: #000000;
 }

 QListView::item:selected:!active {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0.504092 rgba(196, 185, 126, 255), stop:0.505728 rgba(234, 225, 177, 255), stop:1 rgba(240, 235, 205, 255));
	color: #000000;
 }

 QListView::item:selected:active {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0.504092 rgba(196, 185, 126, 255), stop:0.505728 rgba(234, 225, 177, 255), stop:1 rgba(240, 235, 205, 255));
	color: #000000;
 }

 QListView::item:hover {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(121, 114, 76, 255), stop:0.504092 rgba(151, 141, 90, 255), stop:0.505728 rgba(192, 182, 128, 255), stop:1 rgba(224, 219, 185, 255));
color: #ffffff;
 }
 
/**************************************** FileDialog *****************************/
QFileDialog{
	 
}

QFileDialog QComboBox{
	background-color: #ffffff;
	color: #333333;
}
QFileDialog QFrame{
	/*border: 1px solid #aaaaaa;*/
	background-color: #ffffff;
	color: #333333;
}
QFileDialog QLabel{
	border: transparent;
	background-color: transparent;
	color: #ffffff;
}

QFileDialog  QListView {
	border: 1px solid #cccccc; 
	background: #bbbbbb;
 }

QFileDialog  QListView::item {
	color: #000000;
	background-color: transparent;
	padding: 5px;
	border-bottom: 2px solid #aaaaaa;
 }
 
QFileDialog  QListView::item:selected  ,QFileDialog  QListView::item:selected:active{
	border:0px;
 }

QFileDialog  QListView::item:selected {
   background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(168, 156, 94, 255), stop:0.504092 rgba(168, 156, 94, 255), stop:0.505728 rgba(221, 212, 163, 255), stop:1 rgba(236, 231, 202, 255));
	color: #000000;
 }

QFileDialog  QListView::item:selected:!active {
   background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(168, 156, 94, 255), stop:0.504092 rgba(168, 156, 94, 255), stop:0.505728 rgba(221, 212, 163, 255), stop:1 rgba(236, 231, 202, 255));
	color: #000000;
 }

 QFileDialog  QListView::item:selected:active {
       background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(168, 156, 94, 255), stop:0.504092 rgba(168, 156, 94, 255), stop:0.505728 rgba(221, 212, 163, 255), stop:1 rgba(236, 231, 202, 255));
		color: #000000;
 }

 QFileDialog  QListView::item:hover {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(168, 156, 94, 126), stop:0.504092 rgba(168, 156, 94, 131), stop:0.505728 rgba(221, 212, 163, 131), stop:1 rgba(236, 231, 202, 136));
color: #000000;
 }
 
 /*************************************** QTree View *********************************/

QTreeView{
	color: #ffffff;
}

/*************************************** Statische Elemente **************************/
/*************************************************************************************/


/* Neues Projekt Fenster */
/*
#StartPreparationBase QStackedWidget{
	background-color: red; 
}
*/
#StartPreparationBase QAbstractItemView{
	border: 1px solid #aaaaaa;
}
#StartPreparationBase QLabel{
	padding: 5px;
}
#StartPreparationBase QTextBrowser{
	padding: 5px;
}

#vrpFrameInstruction{
	background-color: #ffffff;
}


/* Neues Projekt, Oben links */
#vrpFrameSteps {
	background-color: #ffffff;
	border-bottom: 1px solid #aaaaaa;
}
#vrpFrameSteps QLabel{
	color: #333333;
}



/* Empfangsfenster */
#InitialChooserDialogBase{
background-color: #ffffff;
}

#InitialChooserDialogBase QFrame{
	background-color: transparent;
}
#InitialChooserDialogBase QFrame QFrame{
	background-color: transparent;
}

/* Fenster Rechts (Teilelisten-Explorer)*/
#WidgetStackRight {

background-color: qradialgradient(spread:pad, cx:0.65, cy:0.306, radius:0.644768, fx:0.675281, fy:0.236, stop:0 rgba(126, 126, 126, 255), stop:1 rgba(91, 91, 91, 255));
border:0px;
color: #ffffff;
}

#WidgetStackRight  QFrame{
background-color: transparent;
}

#WidgetStackRight  QLabel{
color: #ffffff;
}

#WidgetStackRight QAbstractButton{
color: #ffffff;
}

#WidgetStackRight QPlainTextEdit{
color: #ffffff;
}

#WidgetStackRight QPushButton:checked {
background-color: qradialgradient(spread:reflect, cx:0.505182, cy:0, radius:1.793, fx:0.511682, fy:0, stop:0 rgba(255, 251, 231, 255), stop:0.305331 rgba(214, 204, 157, 255), stop:0.308562 rgba(193, 181, 118, 255));
}


/* Hauptfenster Menüleiste unten*/
#frameButtons{
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(100, 100, 100, 255), stop:0.716802 rgba(140,140,140, 255), stop:0.942402 rgba(110, 110, 110, 255), stop:0.966912 rgba(85,85,85, 255), stop:1 rgba(40, 40, 40, 255));
	border-radius: 4px;
}
#frameButtons QLabel{
	color: #ffffff;
}
#frameButtons QAbstractButton{
	color: #ffffff;
}

/* Listview im PresentationManager und ViewpointManager */
#PresenterManagerBase QListView::item, #ViewpointManagerBase   QListView::item{
	color: #ffffff;
	background-color: transparent;
	padding: 1px;
}

#PresenterManagerBase QListView::item:selected  , #PresenterManagerBase QListView::item:selected:active, #ViewpointManagerBase  QListView::item:selected  , #ViewpointManagerBase  QListView::item:selected:active{
	border:0px;
 }
 

 #PresenterManagerBase QListView::item:selected , #ViewpointManagerBase QListView::item:selected {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0.504092 rgba(196, 185, 126, 255), stop:0.505728 rgba(234, 225, 177, 255), stop:1 rgba(240, 235, 205, 255));
	color: #000000;
 }

 #PresenterManagerBase QListView::item:selected:!active, #ViewpointManagerBase QListView::item:selected:!active{
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0.504092 rgba(196, 185, 126, 255), stop:0.505728 rgba(234, 225, 177, 255), stop:1 rgba(240, 235, 205, 255));
	color: #000000;
 }

 #PresenterManagerBase QListView::item:selected:active, #ViewpointManagerBase QListView::item:selected:active  {
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0.504092 rgba(196, 185, 126, 255), stop:0.505728 rgba(234, 225, 177, 255), stop:1 rgba(240, 235, 205, 255));
	color: #000000;
 }

 #PresenterManagerBase QListView::item:hover,  #ViewpointManagerBase  QListView::item:hover{
background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(121, 114, 76, 255), stop:0.504092 rgba(151, 141, 90, 255), stop:0.505728 rgba(192, 182, 128, 255), stop:1 rgba(224, 219, 185, 255));
color: #ffffff;
 }
 
  /* VideoCaptureManagerBase  GroupBox anpassen*/
 #VideoCaptureManagerBase QGroupBox{		
	background-color: qlineargradient(spread:reflect, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(78, 78, 78, 255), stop:0.638935 rgba(106, 106, 106, 255), stop:1 rgba(78, 78, 78, 255));
	border-radius: 4px;
	padding: 0px;
	margin: 0px;
	padding-top: 20px;
	color: #333333;
	font-weight: bold;
}
 
