<?xml version="1.0"?>

<COCONFIG version="1" >

 <GLOBAL>
  <Module>
   <IHS>
    <DataPath value="/data/IHS/" />
    <GateBladeMin value="-20" />
    <GateBladeMax value="8" />
   </IHS>

   <Fenfloss>
    <Verbose value="1" />
    <Timeout value="300" />
    <Startup value="gate %0 %1 %e" name="v3" />
    <Startup value="tube %0 %1 %e" name="v4" />
    <Startup value="axial %0 %1 %e" name="v5" />
    <Startup value="radial %0 %1 %e" name="v6" />
    <Startup value="sc2004booth %0 %1 %e" name="v7" />
    <Startup value="archflow %0 %1 %e" name="v8" />
    <Startup value="other %0 %1 %e" name="v9" />
    <Startup value="dgrid /usr/bin/ssh -l %2 %h 'export CO_SIMLIB_CONN=%e; /usr/bin/qsub -j oe -l nodes=%3,walltime=0:20:00 -V //data1/HLRS/hlrs/%2/fen_covise_gate'" name="v10" />
    <Application value="p_covise_fen6.3.0.0" name="v1"/>
    <Application value="p_fen6.3.0.0" name="v2"/>
    <Application value="p_fen7.0" name="v3"/>
   </Fenfloss>

   <StarCD>
    <Verbose value="1" />
    <Timeout value="300" />
    <Server value="m" />
    <Startup value="volvox /usr/bin/ssh -l %2 %h 'export CO_SIMLIB_CONN=%e; /opt/batch/torque-1.2.0p1/bin/qsub -j oe -l nodes=%3,walltime=0:20:00 -V /schrotti/HLRS/HLRS/%2/cabin.sh'" name="v1" />
    <Startup value="dummy d" name="v2" />
    <!--'setenv CO_SIMLIB_CONN %e; cd %0 ; /bin/rm -f ABORT */ABORT ; echo y | runstar'" name="v1"/>-->
    </StarCD>

   <Material>
    <MaterialDefinition name="bronze" ambient="0.0787879 0.0186424 0" diffuse="0.315152 0.0745695 0" specular="0.508861 0.684007 0.326263"  emissive="0 0 0" shininess="0.0363636" transparency="0" />
   </Material>

   <TetraTrace>
    <BoxIncreaseFactor value="2" />
   </TetraTrace>
  </Module>

  <System>
<!--   <ShmSize value="2097152"/> -->
   <!--<ShmSize value="33554432"/>-->
    <!--ShmKind value="sysv" /-->
    <WSInterface value="false" />
   <CRB>
    <ModuleAlias value="Renderer/OpenCOVER" name="Renderer/Renderer" />
    <ModuleAlias value="Renderer/OpenCOVER" name="Renderer/VRRenderer" />
    <ModuleAlias value="Renderer/OpenCOVER" name="Renderer/COVER" />
    <ModuleAlias value="Renderer/OpenCOVER" name="Renderer/COVER_VRML" />
    <ModuleAlias value="IO/ReadCGNS-spbgpu" name="IO/ReadCGNS" />
   </CRB>
  </System>

  <COVER>
      <DefaultScaleFactor value="1000" />
      <!--Framebuffer bpc="10" srgb="false" alpha="-1" depth="24" /-->
      <UI>
          <VRUI toolbar="false" />
          <NavigationManager>
              <Navigation>
                  <!--MoveWorld parent="" /-->
                  <ViewAll parent="" />
                  <Snap parent="" />
                  <Modes>
                      <Scale parent="" />
                      <SelectInteract parent="" />
                      <!--Drive parent="" /-->
                  </Modes>
              </Navigation>
          </NavigationManager>
          <Manager>
              <ViewOptions>
                  <TrackHead parent="" />
                  <!--Lighting parent="" /-->
              </ViewOptions>
          </Manager>
          <ColorBarPlugin>
              <Colors tuiParent="" />
          </ColorBarPlugin>
      </UI>
      <!--GLVersion value="3.0" /-->
      <!--GLDebug value="true" level="2" /-->
      <Snap value="ON" />
      <DebugTUI value="OFF" />
	  
    <!--LODScale value="0.000000000001" /-->
    <DepthPeeling value="false" />
    <LODScale value="1" />

    <SyncToVBlank value="OFF" device="DFP-0" />

    <CudaNumThreads value="128" />        
    <!--TabletUI host="127.0.0.1" port="31802" /-->
   <CheckForOpenGLErrors value="true" />
   <!--ContinuousRendering value="true" /-->
   <!--UseVertexBufferObjects value="false" /-->
   <!--UseDisplayLists value="true" /-->
   <NavigationMode value="XForm" />
   <AnimationSpeed min="0.0" max="25.0" default="24.0" />
   <MultiThreaded value="off" />
   <FramebufferSRGB value="false" />
   <StencilBits value="8" />
   <Stencil value="true" />

   <VRUI>
       <!-- position of transfer editor menu /-->
       <!--TFE>
           <Menu>
               <Size value="0.15" />
               <Position x="-200" y="0" z="80" />
           </Menu>
       </TFE-->
       <!--position of error message window (PDBplugin) /-->
      <!--Messages>
         <Menu>
         <Size value="0.15" />
         <Position x="100" y="0" z="120" />
         </Menu>
      </Messages-->
     <VNC>
       <Menu>
         <Orientation h="-90" p="0" r="0" />
         <Position x="1400" y="-500" z="500" />
       </Menu>
     </VNC>
   </VRUI>

   <Input>
    <MouseNav value="ON" />
    <!--Keyboard terminal="on" evdev="/dev/input/coverkeys" /-->
   </Input>

	<!--Console value="on" file="/tmp/coverlog"/-->
   <Plugin>
   <Midi value="Off" InPort="0" OutPort="2">
				       <Device name="0" instrument="0"/>
				       <Device name="1" instrument="1"/>
				       <Instrument name="0" type="Drumkit">
					       <Key name="4"   r="1"   g="0"   b="0"  />
					       <Key name="29"  r="1"   g="1"   b="102"/>
					       <Key name="49"  r="1"   g="1"   b="26" />
					       <Key name="55"  r="1"   g="1"   b="0"  />
					       <Key name="57"  r="230" g="230" b="0"  />
					       <Key name="52"  r="204" g="204" b="0"  />
					       <Key name="53"  r="179" g="179" b="0"  />
					       <Key name="51"  r="128" g="128" b="0"  />
					       <Key name="59"  r="153" g="153" b="0"  />
					       <Key name="36"  r="255" g="255" b="200"/>
					       <Key name="42"  r="230" g="92"  b="0"  />
					       <Key name="46"  r="204" g="82"  b="0"  />
					       <Key name="84"  r="102" g="20"  b="0"  />
					       <Key name="44"  r="255" g="102" b="0"  />
					       <Key name="31"  r="179" g="204" b="255"/>
					       <Key name="32"  r="128" g="170" b="255"/>
					       <Key name="27"  r="77 " g="136" b="255"/>
					       <Key name="48"  r="26"  g="102" b="255"/>
					       <Key name="45"  r="0"   g="77"  b="230"/>
					       <Key name="43"  r="0"   g="60"  b="179"/>
					       <Key name="58"  r="0"   g="51"  b="153"/>
					       <Key name="41"  r="0"   g="43"  b="128"/>
					       <Key name="39"  r="0"   g="34"  b="102"/>
					       <Key name="38"  r="128" g="51"  b="150"/>
					       <Key name="40"  r="153" g="51"  b="153"/>
						   
						   
					       <Key name="5"   r="3"   g="165" b="252"/>
					       <Key name="6"   r="36"  g="148" b="209"/>
					       <Key name="7"   r="36"  g="89"  b="117"/>
					       <Key name="8"   r="14"  g="124" b="235"/>
					       <Key name="9"   r="14"  g="48"  b="235"/>
					       <Key name="10"  r="14"  g="36"  b="235"/>
					       <Key name="11"  r="47"  g="14"  b="235"/>
					       <Key name="12"  r="98"  g="14"  b="232"/>
					       <Key name="13"  r="141" g="14"  b="232"/>
					       <Key name="14"  r="188" g="14"  b="232"/>
					       <Key name="15"  r="145" g="70"  b="163"/>
					       <Key name="16"  r="223" g="12"  b="235"/>
					       <Key name="17"  r="235" g="12"  b="194"/>
					       <Key name="18"  r="230" g="9"   b="97"/>
					       <Key name="19"  r="230" g="9"   b="61"/>
					       <Key name="20"  r="230" g="9"   b="20"/>
						   
					       <Key name="100"  r="250" g="22" b="10" modelName = "/data/Jeremy/A1.osg" modelScale = "1.0"/>
					       <Key name="101"  r="250" g="66" b="10" modelName = "/data/Jeremy/A2.osg" modelScale = "1.0"/>
					       <Key name="102"  r="250" g="110" b="10" modelName = "/data/Jeremy/A3.osg" modelScale = "1.0"/>
					       <Key name="103"  r="250" g="170" b="10" modelName = "/data/Jeremy/A4.osg" modelScale = "1.0"/>
					       <Key name="104"  r="250" g="214" b="10" modelName = "/data/Jeremy/A5.osg" modelScale = "1.0"/>
					       <Key name="105"  r="246" g="250" b="10" modelName = "/data/Jeremy/A6.osg" modelScale = "1.0"/>
					       <Key name="106"  r="198" g="250" b="10" modelName = "/data/Jeremy/A7.osg" modelScale = "1.0"/>
					       <Key name="107"  r="130" g="250" b="10" modelName = "/data/Jeremy/A8.osg" modelScale = "1.0"/>
					       <Key name="108"  r="10" g="250" b="42" modelName = "/data/Jeremy/A1.osg" modelScale = "1.0"/>
					       <Key name="109"  r="29" g="181" b="49" modelName = "/data/Jeremy/A2.osg" modelScale = "1.0"/>
					       <Key name="110"  r="32" g="199" b="149" modelName = "/data/Jeremy/A3.osg" modelScale = "1.0"/>
					       <Key name="111"  r="17" g="240" b="210" modelName = "/data/Jeremy/A4.osg" modelScale = "1.0"/>
					       <Key name="112"  r="29" g="128" b="114" modelName = "/data/Jeremy/A5.osg" modelScale = "1.0"/>
					       <Key name="113"  r="232" g="119" b="14" modelName = "/data/Jeremy/A6.osg" modelScale = "1.0"/>
					       <Key name="114"  r="244" g="204" b="24" modelName = "/data/Jeremy/A7.osg" modelScale = "1.0"/>
					       <Key name="115"  r="248" g="252" b="3" modelName = "/data/Jeremy/A8.osg" modelScale = "1.0"/>
						   
					       <Key name="80"  r="250" g="22"  b="10"/>
					       <Key name="81"  r="250" g="66"  b="10"/>
					       <Key name="82"  r="250" g="110" b="10"/>
					       <Key name="83"  r="250" g="170" b="10"/>
					       <Key name="84"  r="250" g="214" b="10"/>
					       <Key name="85"  r="246" g="250" b="10"/>
					       <Key name="86"  r="198" g="250" b="10"/>
					       <Key name="87"  r="130" g="250" b="10"/>
					       <Key name="88"  r="10"  g="250" b="42"/>
					       <Key name="89"  r="29"  g="181" b="49"/>
					       <Key name="90"  r="32"  g="199" b="149"/>
					       <Key name="91"  r="17"  g="240" b="210"/>
					       <Key name="92"  r="29"  g="128" b="114"/>
					       <Key name="93"  r="232" g="119" b="14"/>
					       <Key name="94"  r="244" g="204" b="24"/>
					       <Key name="95"  r="248" g="252" b="3"/>
						   
						   
					       <Key name="60"  r="128" g="128"  b="0"/>
					       <Key name="61"  r="153" g="153"  b="0"/>
					       <Key name="62"  r="255" g="255" b="200"/>
					       <Key name="63"  r="230" g="92" b="0"/>
					       <Key name="64"  r="204" g="82" b="0"/>
					       <Key name="65"  r="255" g="102" b="20"/>
					       <Key name="66"  r="255" g="102" b="0"/>
					       <Key name="67"  r="179" g="204" b="255"/>
					       <Key name="68"  r="128"  g="170" b="255"/>
					       <Key name="69"  r="77"  g="136" b="255"/>
					       <Key name="70"  r="26"  g="102" b="255"/>
					       <Key name="71"  r="0"  g="77" b="230"/>
					       <Key name="72"  r="0"  g="60" b="179"/>
					       <Key name="73"  r="0" g="51" b="153"/>
					       <Key name="74"  r="0" g="43" b="128"/>
					       <Key name="75"  r="0" g="34" b="102"/>
						   
					   </Instrument>
				       <Instrument name="1" type="keyboard">
					   
					       <Key name="20" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="21" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="22" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="23" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="24" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="25" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="26" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="27" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="28" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="29" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="30" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="31" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="32" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="33" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="34" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="35" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="36"  modelScale = "0.2" r="250" g="0"  b="0"/>
					       <Key name="37" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="38" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="39" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="40" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="41" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="42" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="43" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="44" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="45" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="46" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="47" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="48" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="49" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="50" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="51" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="52" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="53" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="54" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="55" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="56" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="57" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="58" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="59" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="60" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="61" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="62" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="63" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="64" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="65" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="66" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="67" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="68" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="69" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="70" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="71" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="72" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="73" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="74" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="75" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="76" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="77" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="78" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="79" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="80" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="81" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="82" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="83" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="84" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="85" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="86" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="87" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="88" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="89" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="90" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="91" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="92" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="93" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="94" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="95" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="96" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="97" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="98" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="99" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="100" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="101" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="102" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="103" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="104" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="105" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="106" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="107" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="108" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					       <Key name="109" modelScale = "0.2" r="0.5" g="1"  b="0.5"/>
					   </Instrument>
				</Midi>
   
   <NvTop menu="true" />
   <PBufferSnapShot menu="true" />
   <Video menu="true" />
   <CompositorIceT menu="false" />
   <ViewPoint value="true" />
   <Annotation menu="true" />
   <Measure menu="true" />
   <TangiblePosition menu="true" />
   <Revit menu="true" />
   <PointCloud>
   <PointSize value="4" />
   </PointCloud>
    <Bullet value="off" />
    <Earth value="off" />
    <COVERScript value="off" />
    <cuCuttingSurface value="off" />
    <cuIsoSurface value="off" />
    <SGBrowser value="on" />
    <Volume value="off" />
    <TouchTable value="off" />
     <CaveCAD>
       <DataDir value="/data/calit2/CaveCAD" />
     </CaveCAD>
     <Maze>
       <DataDir value="/data/calit2/maze" />
     </Maze>


     <Vrml97 value="off" >    
      <!--SmallTextures value="true" /-->
      <!--MaxTextureSize value="1024" /-->
	  <ViewpointType value = "standardNoFov"/>
     <Audio value="OpenAL" />
     <ViewpointType value = "standardNoFov"/>
    </Vrml97>

    <DistortViewer value="off" />
    <Move value="off" menu="true" />
    <ClipPlane value="on" />
    <PLMXML value="off">
	 <LoadSTL value="false" />
	 <LoadVRML value="true" />
	 <UndoVRMLRotate value="false" />
	</PLMXML>
	

    <Chat value="off" menu="true" />
    <PDB value="off" menu="false" >
     <PDBPluginPymolDir value="/var/tmp/pymol/" />
     <PDBPluginTempDir value="/var/tmp/pdb/" />
     <PDBUrl value="www.pdb.org/pdb/files/" />
     <AnimationURL value="www.molmovdb.org/uploads/" />
     <PDBAnimationUrl value="www.molmovdb.org/uploads" />

     <Scale value="1" />
     <ViewerDistance value="70" />
     <FadeDistance value="40" />

     <Structures>
          <Gleevec value="1XBB" />
          <Luciferin value="2D1S" />
          <Hemoglobin value="4HHB" />
          <HIV_Protease value="1HVR" />
          <Smad4 value="1YGS" />
          <Photosystem_I value="1JBO" />
          <Cytochrome_c_Oxidase value="1OCO" />
          <MHC_Class_II value="1DLH" />
          <Potassium_Channel_A value="1BL8" />
          <Potassium_Channel_B value="1FQY" />
          <SARS value="2D2D" />
          <Acetylcholine_Receptor value="2BG9" />
          <Acetylcholine_Cobratoxin value="1YI5" />
          <Thermus_Thermophilus value="1J5E" />
          <Polyketide_Synthase value="1U0M" />
          <Calcium_Pump value="1SU4" />
          <Antibody_bound_Influenza value="1KEN" />
          <Thermatoga value="2F8J" />
     </Structures>

     <Animations>
          <Serotonin_N_Acetyltransferase value="22943-38" />
          <Calcium_Pump value="396506-12995" />
          <FecA_transporter value="829808-15750" />
          <Actin value="763408-1487" />
          <Calmodulin value="17833-29779" />
     </Animations>
    </PDB>

    <AKToolbar value="false" menu="false">
     <Attachment value="TOP" />
     <Scale value=".7" />
     <MinClickTime value="0.2" />
     <Position x="-900" y="0" z="360" />
     <ShortCut value="viewall" name="viewall" />
     <ShortCut value="scale" name="scale" />
     <ShortCut value="xform" name="xform" />
     <ShortCut value="walk" name="walk" />
     <ShortCut value="drive" name="drive" />
     <ShortCut value="fly" name="fly" />
    </AKToolbar>

    <Amber value="off"/>  
	<StereoVideoPlayer>
	<MoviePlayer value="ffmpeg"/>
	<AudioOffset value="0.0"/>
  </StereoVideoPlayer>

    <StereoVideoPlayer>
	<AudioOffset value="0.0" />
    </StereoVideoPlayer>

   <!--Revit value="off" textures="C:/Program Files (x86)/Common Files/Autodesk Shared/Materials/Textures" /-->

   </Plugin>

   <Menu>
    <Position x="800" y="0" z="500" />
   </Menu>
   <ViewerPosition x="0" y="-1500" z="0" />
   <SceneSize value="1000" />
   <DebugLevel value="1" />
   <FPS value="true" />
   

   <PipeConfig>
       <Pipe name="0" useDISPLAY="true" />
   </PipeConfig>

   <WindowConfig>
    <!--Window ARCH="windows" width="1024" comment="FRONT" window="0" pipeIndex="0" height="768" left="0" top="0" name="0" decoration="false" /-->
    <!--Window ARCH="unix" width="1280" comment="FRONT" window="0" pipeIndex="0" height="720" left="0" top="0" name="0" decoration="true" /-->
    <!--Window width="1920" comment="FRONT" window="0" pipeIndex="0" height="1080" left="0" top="0" name="0" decoration="false" /-->
    <Window type="Qt" width="1024" comment="FRONT" window="0" pipeIndex="0" height="576" left="100" top="100" name="0" embedded="false" decoration="true" />
   </WindowConfig>

   <ScreenConfig>
   <!--Screen value="FRONT 400 300 0 0 0 0.0 0.0 0.0" name="0" screen="0" /-->
   <Screen width="1920" comment="FRONT" h="0.0" originX="0" originY="0" originZ="0" height="1080" p="0.0" r="0.0" name="0" screen="0" />
   </ScreenConfig>


   <ViewportConfig>
      <!-- each channel needs at least one Viewport -->
    <Viewport width="1" height="1" left="0" bottom="0" windowIndex="0" channelIndex="0" name="0"  />
   </ViewportConfig>
   <!--Background r="1.0" g="1.0" b="1.0"/-->
  </COVER>
 </GLOBAL>

 <INCLUDE global="1" configname="colormap" >config-colormaps.xml </INCLUDE>
 <INCLUDE global="1" configname="filetypes" >config-filetypes.xml </INCLUDE>
<INCLUDE global="1" configname="spray" >config-spray.xml </INCLUDE>
<INCLUDE global="1" configname="midi" >config-midi.xml </INCLUDE>

 <!--INCLUDE global="1" configname="ar" >config-ar.xml </INCLUDE-->
 <!-- this config is required by the ViNCE Renderer-->
 <!--INCLUDE global="1" configname="vince-base" >config-vince-base.xml </INCLUDE-->
</COCONFIG>
