[Desktop Entry]
Type=Application
Version=1.0.0
Encoding=UTF-8
Name=COVISE
GenericName=Scientific Visualization Environment
Exec=covise %f
Comment=Collaborative Visualization and Simulation Environment
Icon=hlrs-covise
MimeType=text/x-net;
Terminal=false
Categories=Qt;Graphics;Science;DataVisualization;
