pkgbase = covise-arch
	pkgdesc = COVISE - COllaborative Visualization and Simulation Environment for VR/AR - HLRS
	url = https://www.hlrs.de/covise/
	arch = x86_64
	license = LGPL
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	depends = xerces-c
	depends = qt6-base
	depends = qt6-tools
	depends = qt6-connectivity
	depends = qt6-datavis3d
	depends = qt6-declarative
	depends = qt6-imageformats
	depends = qt6-location
	depends = qt6-multimedia
	depends = qt6-networkauth
	depends = qt6-quick3d
	depends = qt6-sensors
	depends = qt6-serialbus
	depends = qt6-serialport
	depends = qt6-speech
	depends = qt6-svg
	depends = qt6-translations
	depends = qt6-virtualkeyboard
	depends = qt6-wayland
	depends = qt6-webchannel
	depends = qt6-webengine
	depends = qt6-websockets
	depends = qt6-webview
	depends = boost
	depends = boost-libs
	depends = glew
	depends = libjpeg-turbo
	depends = libtiff
	depends = openmpi
	depends = libpng
	depends = giflib
    depends = vtk
    depends = tinyxml2
    depends = flex
    depends = bison
    depends = gdal
    depends = hidapi
    depends = cgal
	depends = assimp
	depends = swig
	depends = ffmpeg
	depends = hdf5-openmpi
	depends = netcdf-openmpi
	depends = netcdf-cxx
	depends = cgns
	depends = freealut
	depends = freetype2
	depends = libarchive
	depends = libzip
	depends = fftw
	depends = openscenegraph
	depends = cfitsio
	depends = snappy
	depends = audiofile
	depends = proj
	depends = gdal
	depends = eigen
	depends = hidapi
	depends = sdl
	depends = sdl2
	depends = blas
	depends = libvncserver
	provides = covise
	provides = COVER
	provides = opencover
	conflicts = covise
	conflicts = COVER
	conflicts = opencover
	source = git+https://github.com/hlrs-vis/covise.git
	md5sums = SKIP

pkgname = covise-arch
